<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FCSM Resource Repository</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/index.css" />
  </head>

  <body>
    <!-- Simple Header -->
    <header>
      <h1>FCSM Resource Repository</h1>
      <p>Your go-to place for all FCSM-related resources and assets.</p>
    </header>

    <!-- Main Content -->
    <main>
      <h2>Welcome to the FCSM Asset Repository</h2>
      <p>This site stores all the necessary resources for the FCSM project.</p>
      <hr />

      <h3>Available Resources:</h3>
      {% assign docs = site.static_files | where_exp: "file", "file.path
      contains 'assets/files/docs/2024-conference-docs'" %} {% assign
      sorted_docs = docs | sort: "basename" %}
      <ul>
        {% for doc in sorted_docs %}
        <li><a href="{{ doc.path | relative_url }}">{{ doc.basename }}</a></li>
        {% endfor %}
      </ul>
    </main>
    <!-- Simple Footer -->
    <footer>
      <p>&copy; 2025 FCSM. All rights reserved.</p>
    </footer>
  </body>
</html>
